html {
    height:1500px;
    margin: 0;
    padding: 0;
}

nav {

}

nav ul{
    position: relative;
    color: black;
    margin: 0px;
    padding: 0px;
    cursor:pointer;
    
    
}

ul li{
    display: inline;
    border:1px solid black;
    width:150px;
}

.companylogo  {
    border:2px solid black;
    width: 100px;
    left: 20px;
}


#TopBtn {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 33;
}

body {
    position: absolute;
    background-color:white;
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
}

.bigbox {
    border: 1px solid black;
    position: relative;
    top: 20px;
    height: 2500px;
    width: 900px;
    min-height: 100%;
    min-width: 90%;
}

.rightbox {
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    top: 245px;
    left: 60%;
    height: 250px;
    width: 400px;
    align : right;
}

.rightphoto {
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    margin-right: 300px;
    top: -10px;
    left: 5%;
    height: 250px;
    width: 500px;
    vertical-align: middle;

}

.leftbox {
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    top: 250px;
    left: 5%;
    height: 250px;
    width: 400px;
    align : left;
}

.leftphoto {
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    margin-right: 300px;
    top: -10px;
    left: 60%;
    height: 250px;
    width: 500px;
    vertical-align: middle;
}
