html {
    height:1500px;
    margin: 0;
    padding: 0;
}

nav {

}

nav ul{
    position: relative;
    color: black;
    margin: 0px;
    padding: 0px;
    cursor:pointer;
    
    
}

ul li{
    display: inline;
    border:1px solid black;
    width:150px;
}

.companylogo    {
    border:2px solid:#000000;
    width: 100px;
    left: 20px;
}

#TopBtn {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 33;
}

body {
    position: absolute;
    background-color:white;
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 80%;
    min-width: 100%;
}

.introduction {
    position: absolute;
    border-radius: 20vw;
    left: 45%;
    top: 10%;
    width: 250px;
    height: 300px;
    vertical-align: middle;
    overflow: hidden;
}

.firstbox  {
    border:1px solid black;
    height: 1500px;
    width:1200px;
    top:50px;
    left:5%;
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    min-height: 100%;
}

.mombox    {
    border: 0px solid black;      /*일단은 1px로 하고 마지막에 0으로변경*/
    position: absolute;
    top: 500px;
    left: 35%;
    width: 500px;
    height:300px;
    text-align: center;
    overflow: hidden;
}

.sonbox    {
    border: 1px solid black;
    position: relative;             /*mombox와 부모자식관계설정*/
    border-radius: 2vw;             /*테두리 둥글게*/
    margin-left: auto;  
    margin-top:5px;        
    cursor: pointer;                /*커서를 올리면 포인트 생성*/
    display: inline-block;          /*부모객체에 안에 블럭이 정렬*/
    vertical-align: middle;         /*사진을 가운데에 정렬*/
    overflow:hidden;                /*틀 넘어가는건 삭제 */
}

.clicked_sonbox {
    color: ;borderborder-color: #4285f4;
    color: #4285f4;
    background: #e9f1fe;;
}

.footer {
    position: absolute; 
    min-width: 100%;
    bottom:-850px; 
    height:50px; 
    width:; 
    border:1px solid: black;
    background-color: yellow;
    text-align: center;
    color:purple;
}

