body {
    overflow-x: hidden;
    font-family: "M PLUS Rounded 1c" ;
    width: 100%;
    height: 2300px;
    margin: 0px;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.navi {
    background-color: white;
    width: 100%;
    height: 17%;
    margin-right: 1px;
    position: fixed;
	list-style-type:none;
    margin: 0;
    z-index: 3;
    opacity: 1;
}

.textMain{
    float: left;
    height: 50%;
}

.navi > li > a{
    padding: 50px;
    width: 100px;
    margin: 0 auto;
}

.textMenu{
	background-color: white;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: center;
    padding: 10px;
}

.textMenu:hover{
	background-color:rgb(184, 86, 86);
	color:black;
}

.navi li ul{	/* << li 하위의 ul = 서브메뉴 */
    display: none;
    text-align: center;
    align-items: center;
}


.navi li:hover ul{
	display: block;
}

.serveNavi{
    opacity:0;
    list-style: none;
    padding-left: 0px;
}

.navi li:hover .serveNavi{
	opacity:1;
    transition: all 1s;
}

.navi li a{
	transition: all 0.5s;
}

.companylogo  {
    width:20%;
    height: 20%;
    left:20px;
    float: left;
    opacity: 1;
    cursor: pointer;
}

#TopBtn {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 33;
}


.bigbox {
    background-color: white;
    border:1px solid black;
    position: relative;
    height: 2000px;
    width:90%;
    top: 200px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.rightbox {
    border: 1px solid black;
    position: relative;
    margin-top: 20%;
    margin-left: 60%;
    height: 250px;
    width: 400px;
}

.rightNormal {                /*google image*/
    border : 2px solid black;
    position: relative;
    height: 300px;
    width: 400px;
    margin-top: -20%;
    margin-left: 15%;
    vertical-align: middle;
}

.rightphoto {
    position: relative;
    height: 250px;
    width: 2400px;
    vertical-align: middle;
}

.leftbox {
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    top: 250px;
    left: 15%;
    height: 300px;
    width: 400px;
    align : left;
}

.leftphoto {
    position: relative;
    border:1px solid black;
    left: 60%;
    height: 250px;
    width: 400px;
    vertical-align: middle;
}

.volunteerPhoto {
    width: 100%;
    height: 100%;
}

.hobby {
    float:left; 
    width:400px;
    height:250px;
    min-width: 400px;
    min-height: 250px;
}

/*****************************************/
.right_animation_canvas{
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    width: 400px; 
    height: 400px;
    top: 60%;
    left: 15%;
}

.hobby_panel { 
    position:absolute; 
    top:250px; 
    left:50px; 
}

.hobby_text { 
    position:absolute; 
    width:300px; 
    height:150px;
}

/*Control panel*/
.control_panel{
    position: absolute; 
    top: 350px;
    left: 40%; 
    height: 5px;  
}

.control_button{
    border : 0px solid black;
    top: 80%;
    width: 20px; 
    height: 10px;
    position: relative;
    float: left; 
    cursor: pointer;
}

.control_button img{
    width: 100%;
    height: 100%;
}

.control_button:hover{
    top: 0px;
}

.control_button.active{
    top: 0px;
}
/****************************************/

.leftbox2 {
    border: 1px solid black;
    position: absolute;
    top: 75%;
    left: 15%;
    height: 250px;
    width: 400px;
    align : left;
}

.leftphoto2 {
    position: absolute;
    border:1px solid black;
    top: 75%;
    left: 60%;
    height: 250px;
    width: 400px;
    vertical-align: middle;
}



/*
@media ( max-width: 1500px ) {
    .bigbox {
        grid-template-columns: 1fr 1fr;
        width: 1000px;
        height: 2500px;
        margin:0 auto;
        align-items: center;
    }
    .rightbox {
        width: 400px;
        height: 250px;
    }
    .rightphoto {
        width: 2400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .rightNormal{
        width: 400px;
        height: 300px;
    }
    .leftbox{
        width: 400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .leftphoto{
        width: 400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .right_animation_canvas{
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
    }
    }

@media ( min-width: 500px ) {
    .bigbox {
        width: 80%;
        height: 2500px;
        margin:0 auto;
        align-items: center;
    }
    .rightbox {
        width: 320px;
        height: 250px;
        position: relative;
    }
    .rightphoto {
        width: 2400px;
        height: 300px;
        margin-bottom: 20px;
        position: relative;
    }
    .rightNormal{
        width: 320px;
        height: 250px;
        position: relative;
    }
    .leftbox{
        width: 320px;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
    }
    .leftphoto{
        width: 320px;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
    }
    .right_animation_canvas{
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
        position: relative;
    }
    }

    */
