html {
    background: cadetblue;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
}

nav {

}

nav ul{
    position: relative;
    color: black;
    margin: 0px;
    padding: 0px;
    cursor:pointer;
    
    
}

ul li{
    display: inline;
    border:1px solid black;
    width:150px;
}

.companylogo  {
    border:1px solid black;
    width: 100px;
    left: 20px;
}

#TopBtn {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 33;
}

body {
    overflow-x: hidden;
    font-family: "M PLUS Rounded 1c" ;
}

.bigbox {
    background-color: white;
    border: 1px solid black;
    position: relative;
    top: 20px;
    height: 2500px;
    width: 90%;
    max-width: 1400px;
    margin:10px auto;
}

.rightbox {
    border: 1px solid black;
    position: relative;
    margin-top: 20%;
    margin-left: 60%;
    height: 250px;
    width: 400px;
}

.rightNormal {                /*google image*/
    border : 2px solid black;
    position: relative;
    height: 300px;
    width: 400px;
    margin-top: -20%;
    margin-left: 15%;
    vertical-align: middle;
}

.rightphoto {
    position: relative;
    height: 250px;
    width: 2400px;
    vertical-align: middle;
}

.leftbox {
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
    top: 250px;
    left: 15%;
    height: 250px;
    width: 400px;
    align : left;
}

.leftphoto {
    position: relative;
    border:1px solid black;
    left: 60%;
    height: 250px;
    width: 400px;
    vertical-align: middle;
}

.hobby {
    float:left; 
    width:400px;
    height:250px;
    min-width: 400px;
    min-height: 250px;
}

/*****************************************/
.right_animation_canvas{
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    width: 400px; 
    height: 400px;
    top: 50%;
    left: 15%;
}

.hobby_panel { 
    position:absolute; 
    top:250px; 
    left:50px; 
}

.hobby_text { 
    position:absolute; 
    width:250px; 
    height:150px;
}

/*Control panel*/
.control_panel{
    position: absolute; 
    top: 350px;
    left: 40%; 
    height: 13px;  
}

.control_button{
    border : 1px solid black;
    top: 80%;
    width: 20px; 
    height: 20px;
    position: relative;
    float: left; 
    cursor: pointer;
}

.control_button img{
    width: 100%;
    height: 100%;
}

.control_button:hover{
    top: 1px;
}

.control_button.active{
    top: -5px;
}
/****************************************/

.leftbox2 {
    border: 1px solid black;
    position: absolute;
    top: 75%;
    left: 15%;
    height: 250px;
    width: 400px;
    align : left;
}

.leftphoto2 {
    position: absolute;
    border:1px solid black;
    top: 75%;
    left: 60%;
    height: 250px;
    width: 400px;
    vertical-align: middle;
}



/*
@media ( max-width: 1500px ) {
    .bigbox {
        grid-template-columns: 1fr 1fr;
        width: 1000px;
        height: 2500px;
        margin:0 auto;
        align-items: center;
    }
    .rightbox {
        width: 400px;
        height: 250px;
    }
    .rightphoto {
        width: 2400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .rightNormal{
        width: 400px;
        height: 300px;
    }
    .leftbox{
        width: 400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .leftphoto{
        width: 400px;
        height: 250px;
        margin-bottom: 20px;
    }
    .right_animation_canvas{
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
    }
    }

@media ( min-width: 500px ) {
    .bigbox {
        width: 80%;
        height: 2500px;
        margin:0 auto;
        align-items: center;
    }
    .rightbox {
        width: 320px;
        height: 250px;
        position: relative;
    }
    .rightphoto {
        width: 2400px;
        height: 300px;
        margin-bottom: 20px;
        position: relative;
    }
    .rightNormal{
        width: 320px;
        height: 250px;
        position: relative;
    }
    .leftbox{
        width: 320px;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
    }
    .leftphoto{
        width: 320px;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
    }
    .right_animation_canvas{
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
        position: relative;
    }
    }

    */
